.half {
    width: 70%;
    display: table-cell;
    padding-left: 80px;
}
@keyframes opacityAnimation{
    45%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
    }
    to  {
        opacity: 1;
    }
}

img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 40px;
}


article{
    margin: auto;
    max-width: 1000px;

    text-align: center;
    text-wrap: balance;
}

.word{
    font-weight: 400;
    display: inline-block;
    animation-timeline: view(block 50% 30%);
    opacity: 0.2;
    /*animation-name: opacityAnimation;
    animation-duration: 1ms;
    animation-fill-mode: both;
    animation-direction: alternate;*/

}


#drummingSVG{
    display:none;
}
#codingSVG{
    display: none;
}
svg {
    display: flex;
    position: fixed;
    top: 25%;
    left: 60%;
}

#drumming:hover + #drummingSVG {
    display: flex;
}

#coding:hover + #codingSVG {
    display: flex;
}