/*Cube*/

.container {
    position: fixed;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    perspective: 500px;
    transition: top 900ms ease-out;
    z-index:-1;
}

@keyframes spin {
    100% {transform: rotate3d(1, 1, 0, 1deg)}
}

.cube {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(0,1,1,90deg) scale3d(0.75,0.75,0.75);
    transition: 400ms ease-out;
}

.face{
    width: 200px;
    height: 200px;
    background: gray;
    border: 2px solid white;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.front{
    transform: translateZ(100px);
}

.back {
    transform: translateZ(-100px) rotateY(180deg) rotateZ(180deg);
}

.right {
    transform: translateX(100px) rotateY(90deg);
}

.left {
    transform: translateX(-100px) rotateY(-90deg);
}

.top {
    transform: translateY(-100px) rotateX(90deg);
}

.bottom {
    transform: translateY(100px) rotateX(-90deg);
}

#menu[data-active-index="0"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(0,0,0,0);
}

#menu[data-active-index="1"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,90deg);
}

#menu[data-active-index="2"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,180deg);
}

#menu[data-active-index="3"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,270deg);
}
    /*Cube Ends*/

    /*Menu*/

#menu{
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items{
    margin-left: clamp(4rem, 20vw, 48rem);
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: white;
    font-size: 4rem;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items:hover ~ #background-pattern {
    background-size: 9vmin 9vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #background-pattern{
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #background-pattern {
    background-position: 0% -100%;
}
    /*Menu Ends*/