/*Avatar*/

@keyframes Worry {
    0% {background-image: url(Happy.webp)}

    24% {background-image: url(Happy.webp)}
    25% {background-image: url(GotCube.webp)}

    30% {background-image: url(GotCube.webp)}
    31% {background-image: url(Happy.webp)}

    34% {background-image: url(Happy.webp)}
    35% {background-image: url(GotCube.webp)}


    42% {background-image: url(GotCube.webp)}
    44% {background-image: url(Happy.webp)}

    46% {background-image: url(Happy.webp)}
    47% {background-image: url(GotCube.webp)}



    49% {background-image: url(GotCube.webp)}
    50% {background-image: url(WhereCube.webp)}

    55% {background-image: url(WhereCube.webp)}
    56% {background-image: url(Base.webp)}

    60% {background-image: url(Base.webp)}
    61% {background-image: url(WhereCube.webp)}

    63% {background-image: url(WhereCube.webp)}
    64% {background-image: url(Base.webp)}

    66% {background-image: url(Base.webp)}
    67% {background-image: url(WhereCube.webp)}

    70% {background-image: url(WhereCube.webp)}
    71% {background-image: url(Base.webp)}

    89% {background-image: url(Base.webp)}
    90% {background-image: url(TookCube.webp)}

    100% {background-image: url(TookCube.webp)}
}

.cube:hover ~ #avatar{
    animation: 100s linear 1 Worry forwards;;
}

#avatar{
    width: 1400px;
    height: 3550px;
    background-image: url(Happy.webp);
    position: fixed;
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(26%);
    top: 70%;
    left: 50%;
    z-index: 0;
    transition: 
        400ms ease-out,
        background-image 200ms ease;

}

#menu[data-active-index="0"] > #menu-items:hover + .container > #avatar {

    background-image: url(Base.webp);
    transform: translate(-50%, -50%) scale(20%);
    filter: blur(2px);
}

#menu[data-active-index="1"] > #menu-items:hover + .container > #avatar{

    background-image: url(Smile.webp);
    transform: translate(-50%, -50%) scale(20%);
    filter: blur(2px);
}

#menu[data-active-index="2"] > #menu-items:hover + .container > #avatar {

    background-image: url(Projects.webp);
    transform: translate(-50%, -50%) scale(20%);
    filter: blur(2px);
}

#menu[data-active-index="3"] > #menu-items:hover + .container > #avatar {

    background-image: url(Contact.webp);
    transform: translate(-50%, -50%) scale(20%);
    filter: blur(2px);
}

/*Cube*/

.container {
    position: fixed;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    perspective: 500px;
    transition: top 900ms ease-out;
    z-index:-1;
}



.cube {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotate3d(0,1,1,90deg) scale3d(0.75,0.75,0.75);
    transition: 400ms ease-out;
    animation-duration: 1s;
}

.face{
    width: 200px;
    height: 200px;
    z-index: 2;
    background: gray;
    border: 2px solid white;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.front{
    transform: translateZ(100px);
}

.back {
    transform: translateZ(-100px) rotateY(180deg) rotateZ(180deg);
}

.right {
    transform: translateX(100px) rotateY(90deg);
}

.left {
    transform: translateX(-100px) rotateY(-90deg);
}

.top {
    transform: translateY(-100px) rotateX(90deg);
}

.bottom {
    transform: translateY(100px) rotateX(-90deg);
}

#menu[data-active-index="0"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(0,0,0,0);
}

#menu[data-active-index="1"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,90deg);
}

#menu[data-active-index="2"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,180deg);
}

#menu[data-active-index="3"] > #menu-items:hover + .container > .cube {

    transform: rotate3d(1,0,0,270deg);
}

.cube:hover {
    transition: 100s ease-in;
    
    transform: rotate3d(0,1,1,50000deg) scale3d(1.5,1.5,1.5); 
}


    /*Cube Ends*/

    /*Menu*/

#menu{
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu-items{
    margin-left: clamp(4rem, 20vw, 48rem);
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: white;
    font-size: 4rem;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items:hover ~ #background-pattern {
    background-size: 9vmin 9vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #background-pattern{
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #background-pattern {
    background-position: 0% -100%;
}
    /*Menu Ends*/